
body {
    font-family: 'Rubik', sans-serif;
    background-color: #FFD700;
    color: #000;
    margin: 0;
    padding: 0 2px;
	font-weight: 400;
}

h1, h2, h3, h4, h5 {
    color: #FF6347;
    margin-bottom: 20px;
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
      text-align: center;
}
.start img{
    max-width: 100%;
      height: auto;
      margin: 0 auto 20px;
    }
li{
padding-bottom: 5px;
}

.Proposaltemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 80%; 
    max-width: 800px;
	padding: 20px;
	border-radius: 10px;
}

.Proposaltemplate h4{
    font-size: 1.5em;
    border: 2px solid #FF6347;
    border-radius: 10px;
    padding: 4px 8px;
    display: inline-block; 
    margin: 0;
    text-align: center;
    margin-top: 20px;
}

.Proposaltemplate a {
    word-break: break-all; 
}

.tipcontainer ul li {
    padding-bottom: 10px;
    font-weight: light;
}


.Proposaltemplate ul {
    list-style: none;
	list-style-type: none;
    padding: 0;
    font-size: 1em;
    text-align: center;
	
}

.Proposaltemplate li {
    margin-bottom: 10px;
}

.Proposaltemplate h2, .Proposaltemplate h3, .Proposaltemplate h4 {
    color: #ff6347;
}

.Proposaltemplate > h4 {
    font-size: 1.5em;
    padding: 4px 8px;
    display: inline-block;
    margin: 0;
    text-align: center;
    margin-top: 20px;
}

.Quorumguide ul {
    list-style: none;
    padding: 0;
}

.Quorumguide li {
    margin-bottom: 8px;
}

.timer-images {
    display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .timer-images img {
        display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 10px; 
      flex: 0 0 23%;
    }

.textarea {
    min-height: 600px; 
    width: 70%;
    box-sizing: border-box;
}

    textarea::placeholder {
        color: #a9a9a9; 
        opacity: 1; 
	 
    }

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    .tipcontainer, .start, .timer, .Quorumguide {
        width: 100%;
        padding: 15px;
    }

}
@media only screen and (max-width: 768px) {
    .timer-images {
        justify-content: center;
    }

    .timer-images img {
        flex: 0 0 45%;
    }
    .start img {
        max-width: 80%;
    }

    .Proposaltemplate {
        margin: 15px;
        width: 100%;
        max-width: none;
    }
    
    .Proposaltemplate h2,
    .Proposaltemplate h3,
    .Proposaltemplate h4 {
        font-size: 1.5em;
    margin-bottom: 2%;
    }
    .Proposaltemplate ul {
        list-style: none;
        padding: 10px;
        margin-left: 10px;
        justify-content: center;
        text-align: center;
        font-size: 1em;
    }
    .Proposaltemplate h4 + ul, 
    .Proposaltemplate li {
        font-size: 1em;
    }
    .Proposaltemplate a {
    word-break: break-all; 
    }

    .Proposaltemplate li {
        margin-bottom: 8px;
        font-size: 1em;
    }

    .Proposaltemplate img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
	.footer footer ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
 }​​​​​​​​​​​​​​​​​​​​​​​
}
